<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.latte.kakao_demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/minian_nickfury"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/minian_nickfury"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SpeechAPI.GetPermissionActivity">

        </activity>
        <activity android:name=".SpeechAPI.STT_API">

        </activity>
        <activity android:name=".SpeechAPI.TTS_API">

        </activity>

        <activity android:name=".SelectAPIActivity">

        </activity>
        <activity android:name=".Naver_API">

        </activity>


    </application>

</manifest>